packnet_models/__pycache__/*
packnet_models_pickaback/*
utils/__pycache__/*
utils_pickaback/*
checkpoints_perceiver/*
checkpoints_perceiver/CPG_single_scratch_woexp/perceiver/*
checkpoints_lenet5/*
logs_perceiver/*
models/__pycache__/
wandb/*
